{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="error-template">
            <h1>
                Oops!</h1>
            <h2>
                404 Not Found</h2>
            <div class="error-details">
                Sorry, Requested page not found!
            </div>
            <div class="error-actions">
                <a href="{{ url_for('tasks_all') }}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
<<<<<<< HEAD
                    Take Me to the Task List Page </a>
=======
                    Hatem Hatem </a>
>>>>>>> 86677c5d563c39dda967130af0cdb416b10cdcfe
            </div>
        </div>
    </div>
</div>
{% endblock content %}