{% extends 'base.html' %}

{% block content %}
  {% if tasks %}
    <h4>All tasks</h4>
    {% for task in tasks %}
      <div class="card" style="width: 25rem;">
        <div class="card-body">
<<<<<<< HEAD
          <h5 class="card-title">{{ task.task_title }}</h5>
=======
          <h5 class="card-title">{{ we are testing }}</h5>
>>>>>>> 86677c5d563c39dda967130af0cdb416b10cdcfe
          <p class="card-text">{{ task.task_description }}</p>
          <a href="{{ url_for('task_view', task_id=task.task_id) }}" class="card-link">View Task</a>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="row">
      <div class="col-md-12">
        <div class="error-template">
          <h1>
            Got Lucky!</h1>
          <h2>
            No tasks Found</h2>
          <div class="error-actions">
            <a href="{{ url_for('task_new') }}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
              Create new task </a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock content%}